/* payment.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding-top: 70px;
}

/* Header styles */
.navbar-brand {
    font-weight: bold;
}

/* Container styles */
.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Title styles */
h2 {
    margin-bottom: 20px;
}

/* Form styles */
.form-check-label {
    font-weight: 500;
}

/* Footer styles */
.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
